.header-container {
  height: 150px;
  width: 100%;
  background-color: rgba(139,87,42,86);
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.book-bucket-logo {
  font-size: 30px;
  height: 100%;
  width: 150px;
  text-align: center;
  color: black;
  border: 1px solid red;
}
